{% extends 'base.html' %}

{% block title %}Inicio de Usuarios{% endblock %}

{% block content %}
<main class="container mt-4">
    <div class="jumbotron">
        <h1 class="display-4">Bienvenido/a, {{ user.username }}!</h1>
        <p class="lead">Este es el panel principal para gestionar la información de tu perfil y ver las actividades relacionadas con tu cuenta.</p>
        <hr class="my-4">
        <p>Aquí puedes revisar tus gastos, actualizar tu perfil y más.</p>
        <a class="btn btn-primary btn-lg" href="{% url 'gastos:lista_gastos' %}" role="button">Ver Gastos</a>
    </div>
</main>
{% endblock %}
