/* Estilos para la página Lista de Gastos */

h1, h2 {
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.gasto-descripcion {
    font-weight: bold;
}

.gasto-monto {
    color: #007BFF;
    font-weight: bold;
}

.gasto-fecha, .gasto-moneda, .gasto-categoria {
    color: #888;
}

.no-gastos {
    font-style: italic;
    text-align: center;
}

.crear-gasto {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}
