{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Gasto</title>
    <link rel="stylesheet" type="text/css" href="{% static 'gastos/style.css' %}">
</head>
<body>
    <h2>Editar Gasto</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Guardar Cambios</button>
    </form>
    <a href="{% url 'lista_gastos' %}">Volver a la lista de gastos</a>
</body>
</html>
