{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar Gasto</title>
    <link rel="stylesheet" type="text/css" href="{% static 'gastos/style.css' %}">
</head>
<body>
    <h2>Eliminar Gasto</h2>
    <p>¿Estás seguro de que deseas eliminar este gasto?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Confirmar Eliminación</button>
    </form>
    <a href="{% url 'lista_gastos' %}">Cancelar</a>
</body>
</html>
