{% extends "gastos/base.html" %}
{% load static %}
{% block title %}Eliminar Gasto{% endblock %}
{% block content %}
<main class="container mt-5">
    <h2>Eliminar Gasto</h2>
    <p>¿Estás seguro de que deseas eliminar este gasto?</p>
    <form method="post">
        {% csrf_token %}
        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-danger">Confirmar Eliminación</button>
        </div>
    </form>
    <a href="{% url 'lista_gastos' %}" class="btn btn-secondary my-3">Cancelar</a>
</main>
{% endblock %}
